.wc-toolbar{font-size:12px;padding:2px 5px;margin:0}
.wc-toolbar h1{font-size:14px;font-weight:bold;}
.wc-toolbar .ui-buttonset{font-size:0.8em;}
.wc-toolbar .wc-title{text-align:left;}
.wc-header{font-size:11px;}
.wc-grid-timeslot-header, 
.wc-header .wc-time-column-header{width:45px;}
.wc-time-header-cell{font-size:11px;}
.wc-business-hours .wc-time-header-cell{font-weight:bold;}
.wc-am-pm,
.wc-business-hours .wc-am-pm {font-size:1em;}
.wc-header .wc-today  {font-weight: bold;}
.wc-header .wc-day-column-header.wc-today {color: #000000}
#payment_form {width: 90%; left: 5%; margin: auto auto auto auto; top:5%; height:90%;max-height:100%;}
.img_customer_search{
	position: relative;
	bottom: -10px;
	height: 30px;
}

.in_button{
	min-width: 10%;
	position: fixed;
	text-align: center;
}
.normal_name { width: 180px;}
.column_help {margin-right:70px;}
.container-fluid>.sidebar{
	width: inherit !important;
}
@media print { 
 	.topbar_fallback, .topbar, footer, .page-header, .sidebar, .hide_on_print, .btn { display: none !important; }
 	table {
		width: 100%;
		margin-bottom: 0px;
		padding: 0;
		font-size: 10px;
		border-collapse: collapse;
		border: 1px solid black !important;
	}
 	td, th {
 		border: 1px solid black !important;
 		line-height:8px !important;
 		font-size: 12px;
 		border-collapse: collapse;
 	}
 	.quebrapagina {
   		page-break-before: always;
   		display: block;
	}
}