/**
 * Style created by VilarikA's team
 * @author: Stanley Sathler <stanleysathlerpinto@gmail.com>
 **/

.row.filter { margin: 10px 0; }


/* 
 * Add treatment modal
 */
#treatment_add .row.header .btn{
    height: 100%;
    line-height: initial;
    padding: 15px;
    width: 100%;
}
