<div id="main" class="lift:surround?with=financial;at=content">
<script src="/js/angular.js">
</script>  
<script src="/js/angular.date.js">
</script>  
<script src="/js/angular.select2.js">
</script>
<script src="/js/offSale/app/scripts/controllers/OffsaleManager.js"></script>
<script type="text/javascript" src='/js/register_payment.js?__02122015'></script>
  <script type="text/javascript" src='/js/default/animal.js'>
  </script>
  <span>
    <form id='cash_form' action="/cash/" >
      <div class="row">
        <div class="span8">
          <div class="clearfix">
             <label for="cashiers_select">Caixa </label>
             <div class="input">
                <select class="xlarge" name="cashiers_select" id='cashiers_select'></select>
             </div>
          </div>
          <div class="clearfix">
            <label for="date_treatment">Data do Atendimento</label>
              <div class="input">
                <div class="inline-inputs">
                    <div style="float:left; padding-right:10px" class="input-prepend lift:SecuritySnippet.isEbellepetSystem">
                      <span class="add-on"><img width="16" src="/images/calendar_addon.png"></span> 
                      <input type="text" size="19" name="date_treatment_ini" id="date_treatment_ini" class="input-small date cashier_opener_date">
                    </div>
                    <div style="float:left; padding-right:10px" class="input-prepend">
                      <span class="add-on"><img width="16" src="/images/calendar_addon.png"></span> 
                      <input type="text" size="19" name="date_treatment" id="date_treatment" class="input-small date cashier_opener_date">
                      <input type="hidden" size="19" name="opener_date" id="opener_date" class="input-small date">
                      
                    </div>
                </div>
              </div>
          </div>
          <input type="hidden" class="has-offsale-module lift:SecuritySnippet.hasOffSaleModule" value="1">
          <div class="clearfix lift:SecuritySnippet.hasOffSaleModule">
              <label for="offsale">Convênio </label>
               <div class="input">
                  <select name="offsale" id='offsale'></select>
               </div>
          </div>                  
          <input type="hidden" class="has-edoctus-system lift:SecuritySnippet.isEdoctusSystem" value="1">
          <input type="hidden" class="has-ephysio-system lift:SecuritySnippet.isEphysioSystem" value="1">
          <input type="hidden" class="has-esmile-system lift:SecuritySnippet.isEsmileSystem" value="1">
          <input type="hidden" class="has-pet-system lift:SecuritySnippet.isEbellepetSystem" value="1">
          <div class="clearfix lift:SecuritySnippet.isEbellepetSystem">
            <label for="animal">Pet</label>
              <div class="input">
                  <select name="animal" id='animal'></select>
              <a href="#" title="Ir para animal"> <img src="/images/pets.png" width="30" onclick="openAnimalSelected()"></a>
              <a href="#" title="Prontuário""> <img src="/images/records.png" width="30" onclick="openAnimalRecordSelected()"></a>
            </div>
          </div>                  
        </div>
        <div class="span9">
          <div class="clearfix">
            <label for="command">
              N.° <span data-i18n='Comanda'></span>  
            </label>
              <div class="input">
                <div class="inline-inputs">
                  <input name="command" id='command' class="mini">
                  <input type='button' class="btn primary" value='Ok' id='command_get_from_server'/>
                  <input type='button' title="Excluir pagamento" class="btn danger" value='Excluir Pagto' id='command_remove_from_server'/>
                  <a data-original-title="Informação" data-content="clique para abrir a documentação" data-help-url='/docs/payment_exclusion.html' rel="popover" class="_popover_basic _help">
                  <img src="/images/info.gif" width="20">
                  </a>
                  <input type='hidden' title="Consultar comanda" class="btn" value='Consutar' id='command_show'/>
                </div>
              </div>
          </div>                           
          <div class="clearfix">
            <label for="customer">
              <span data-i18n='Cliente'></span> 
              <img src="/images/search.png" width="24" class="customer_search_button">  
            </label>
              <div class="input">
                <div class="inline-inputs">
                  <span>
                    <input id="customer" name="customer" class="mini id_customer_search"/>
                    <input placeholder="Nome" type="text" size="30" name="name_customer" class="name_customer_search normal_name"/>
                  </span>
                  <span class="help-block">
                        <span data-i18n='Cliente'></span> que será atendido
                        <img alt="Cadastro rápido" src="/images/add.png" width="24" id="customer_add_button">
                  </span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div>
        <input type="hidden" class="has-unit-module lift:SecuritySnippet.hasUnitModule" value="1">
        <input type="hidden" class="has-auxiliar-module lift:SecuritySnippet.hasAuxiliarModule" value="1">
        <div class="row span17">
          <div class="span8">
            <div class="clearfix">
              <label for="name"><span data-i18n='Profissional'></span></label>
               <div class="input">
                  <select name="user" id="user" class="xlarge">
                  </select>
               </div>
            </div>              
          <!--
          </div>
          <div class="span8">
          -->
            <div class="clearfix">
              <label for="name"><span data-i18n='Serviço'></span></label>
              <div class="input">
                <div class="inline-inputs">
                    <span style="float:left; padding-right:10px" class="input-prepend">
                      <span class="add-on"><img width="16" src="/images/cut.png"></span> 
                      <select class="notselect2" name="activity" id='activity'></select>
                    </span><button type='button' class="btn" id='add_activity'><img src='/images/add.png' /></button>
                </div>
                <img type='button' class="btn" width="24" src='/images/bills_to_receiver.png' id='add_customer_account_payment'/>
                <a data-original-title="Informação" data-content="clique para abrir a documentação" data-help-url='/docs/customer_account.html' rel="popover" class="_popover_basic _help">
                    <img src="/images/info.gif" width="20">
                </a>
                <span class="help-block">Pagamento de conta cliente</span>
              </div>
            </div>              
            <div class="clearfix lift:SecuritySnippet.hasAuxiliarModule">
              <label for="auxiliar"><span data-i18n='Assistente'></label>
                <div class="input">
                  <div class="inline-inputs">
                    <select id='auxiliar' name='auxiliar'></select>
                  </div>
                </div>
            </div>
            <div class="clearfix lift:SecuritySnippet.isEsmileSystem">
              <label for="tooth">Dente</label>
                <div class="input">
                  <div class="inline-inputs">
                    <select id='tooth' name='tooth'></select>
                  </div>
                </div>
            </div>
          </div>
          <div class="span8">
            <div class="clearfix">
              <label for="name">Produto</label>
              <div class="input">
                <div class="inline-inputs">
                  <div style="float:left; padding-right:10px" class="input-prepend">
                        <span class="add-on"></span> 
                        <input class="xlarge process_product_field" name="product" id='product'/>
                  </div>                                                    
                  <div style="float:left; padding-right:10px">
                    <button type='button' class="btn process_product_action" id='add_prduct'>
                      <img type='button'  src='/images/add.png' />
                    </button>
                  </div>                         
                </div>
              </div>
            </div>
            <div>
              <div class="clearfix">
                <label for="opener_date">Estoque Atual</label>
                <div class="input">
                  <div class="inline-inputs">
                    <div style="float:left; padding-right:10px" class="input-prepend">
                      <span class="add-on"><img width="16" src="/images/categorie.png"></span> 
                      <input type="text" size="19" name="current_stock" id="current_stock" disabled='true' class="medium disabled inventory_product_search">
                       <span class="help-block">Quantidade atual do produto em estoque</span>
                    </div>
                  </div>
                </div>
              </div>                
            </div>
          </div>
          <div class="span18">
            <div class="clearfix">
              <label for="name">Total</label>
              <div class="input">
                <div class="inline-inputs">
                  <div class="input-prepend" style="float:left; padding-right:10px">
                    <div style="float:left; padding-right:10px" class="input-prepend">
                      <span class="add-on"><img src="/images/money.png" width="16"></span>
                      <input disabled='true' class="mini currency" type="text" name='total' id='total' value="00.00">
                    </div>
                    <button class="btn success b_payment" type="button" id='b_payment'>
                        <img src='/images/paid.png' width="16px"/>
                        Pagar
                    </button>
                    <input type="hidden" class="has-anvisa-module lift:SecuritySnippet.hasAnvisaModule" value="1">
                    <button class="lift:SecuritySnippet.hasNotAnvisaModule btn primary print_command" alt="Imprimir comanda" type="button" id="print_command">
                        <img src='/images/print.png' width="16px"/>   Imprimir
                    </button>
                    <button class="lift:SecuritySnippet.hasAnvisaModule btn primary print_command" alt="Imprimir ticket" type="button" id="print_command">
                        <img src='/images/print.png' width="16px"/>   Ticket
                    </button>
                    <button class="btn primary revert_price" title="Restaurar preço original de todos os itens"  type="button" id='revert_price'>
                        <img src='/images/arrow_redo.png' width="16px"/>   Restaurar
                    </button>
                    <button class="btn danger remove_treatment" title="Excluir comanda completa" type="button" id=''>
                        <img src='/images/delete.png' width="16px"/>   Excluir <span data-i18n='Comanda'></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>                                                 
        </div>
        <div class="clearfix">
          <label for="treatments_details"></label>
        <!--center pq o template de financeiro cresceu !-->
          <table id='treatments_details' class="bordered-table zebra-striped span16">
            <thead>
              <tr>
                <th>.</th>
                <th><span data-i18n='Profissional'></span></th>
                <th class="lift:SecuritySnippet.hasUnitModule">Unidade</th>
                <th class="lift:SecuritySnippet.hasAuxiliarModule"><span data-i18n='Assistente'></span></th>
                <th class="lift:SecuritySnippet.isEbellepetSystem">Pet</th>
                <th><span data-i18n='Serviço'></span>/Produto</th>
                <th class="lift:SecuritySnippet.isEsmileSystem">Dente</th>
                <th>Preço</th>
                <th alt='Quantidade'>Qtde</th>
                <th class="lift:SecuritySnippet.hasOffSaleModule">Convênio</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        <!--/center!-->
        </div>
        <div class="clearfix">
          <label for="name">Total</label>
          <div class="input">
            <div class="inline-inputs">
              <div class="input-prepend" style="float:left; padding-right:10px">
                <div style="float:left; padding-right:10px" class="input-prepend">
                  <span class="add-on"><img src="/images/money.png" width="16"></span>
                  <input disabled='true' class="mini currency" type="text" name='total_baixo' id='total_baixo' value="00.00">
                </div>
                <button class="btn success b_payment" type="button" id='b_payment'>
                  <img src='/images/paid.png' width="16px"/>   Pagar
                </button>
                <input type="hidden" class="has-anvisa-module lift:SecuritySnippet.hasAnvisaModule" value="1">
                <button class="lift:SecuritySnippet.hasNotAnvisaModule btn primary print_command" alt="Imprimir comanda" type="button" id="print_command">
                    <img src='/images/print.png' width="16px"/>   Imprimir
                </button>
                <button class="lift:SecuritySnippet.hasAnvisaModule btn primary print_command" alt="Imprimir ticket" type="button" id="print_command">
                    <img src='/images/print.png' width="16px"/>   Ticket
                </button>
                <button class="btn primary revert_price" title="Restaurar preço original de todos os Items"  type="button" id='revert_price'>
                  <img src='/images/arrow_redo.png' width="16px"/>   Restaurar
                </button>
                <button class="btn danger remove_treatment" title="Excluir Comanda completa" type="button">
                  <img src='/images/delete.png' width="16px"/>   Excluir <span data-i18n='Comanda'></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>     
  </span>
  <div id="payment_form" ng-app='ui.date'  class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <div class="input">
        <div class="inline-inputs">
          <span>
	        <h3>Pagamento
	            <input disabled='true' id="customer_payment" name="customer_payment" class="mini id_customer_search"/>
	            <input disabled='true' type="text" size="30" id="name_customer_payment" name="name_customer_payment" />
                <input disabled='true' name="command_payment" id='command_payment' class="mini">
            </h3>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-body" ng-controller="PaymentController">
      <form>
          <div class="clearfix">
           <label>Complementos</label>
            <div class="input">        
              <div class="inline-inputs">
                <span style='float:left'>
                  Valor Original 
                  <div class="input-prepend">
                    <span class="add-on"><img src="/images/money.png" width="16"></span>
                    <input class="mini disabled" disabled='true' id="value" name="value" size="30" type="text"/>
                  </div>
                </span>                
                <span style='float:left'>
                  Acréscimo 
                  <div class="input-prepend">
                    <span class="add-on"><img src="/images/add.png" width="16"></span>
                    <input class="mini currency" type="text" name='increase' id='increase' value="00.00">
                  </div>
                </span>
                <span style='float:left'>
                  Desconto 
                  <div class="input-prepend">
                    <span class="add-on"><img src="/images/money.png" width="16"></span>
                    <input class="mini currency" type="text" name='discount_value' id='discount_value' value="00.00">
                  </div>
                </span>
                <span style='float:left'>
                  Desconto %
                  <div class="input-prepend">
                    <span class="add-on">%</span>
                    <input class="mini currency" type="text" name='discount_percent' id='discount_percent' value="00.00">
                  </div>
                </span>
                <span >
                  Valor Final 
	              <div class="input-prepend">
	                <span class="add-on"><img src="/images/money.png" width="16"></span>
	                <input class="mini disabled" disabled='true' id="value_total_to_pay" name="value_total_to_pay" size="30" type="text"/>
	              </div>
                </span>                 
              </div>
            </div>
          </div>
          <div class="clearfix">
            <label>Resultado</label>
            <div class="input">        
              <div class="inline-inputs">
                <span style='float:left'>
                  Total Pago
                  <div class="input-prepend">
                    <span class="add-on"><img src="/images/money.png" width="16"></span>
                    <input disabled='true' class="mini currency" type="text" name='total_paiad' id='total_paiad' value="00.00">
                  </div>
                </span>
                <span>
                  Troco
                  <div class="input-prepend">
                    <span class="add-on"><img src="/images/money.png" width="16"></span>
                    <input disabled='true' class="mini currency" type="text" name='return_value' id='return_value' value="00.00">
                  </div>   
                </span>
              </div>
            </div>
          </div>                     
          <fieldset>
          <div class="clearfix">
            <label for="payment_type">Form de Pagto</label>
            <div class="input">
              <div class="inline-inputs">
                <select name="payment_type" class='xlarge' id='payment_type'>
                </select>
                Valor:
                <input name="payment_type_value" class='mini currency' id='payment_type_value' />
                <span class="installment"><input name="payment_type_installment" type="checkbox" class='' id='payment_type_installment'/> Parcelado?</span>
                <span class="installment_true"><input name="payment_type_installment_number" value="1" type="number" class='mini' id='payment_type_installment_number'/> Parcelado?</span>
                <input type='button' class='btn success' name='add_payment' id='add_payment' ng-click="addPayment()" value='Adicionar'/>
              </div>
              <span class="help-block">Dinheiro/cheque/cartão/etc</span>
            </div>
          </div>
          <span class="cheque_data">
            <div class="clearfix">
              <label>Banco</label>
                <div class="input">
                  <div class="input-prepend">
                    <select id="bank" name="bank" size="10">
                    </select>
                  </div>
                </div>
            </div>
            <br/>
            <div class="clearfix">
              <label>Número</label>
                <div class="input">
                  <div class='inline-inputs'>
                    <div class="input-prepend">
                      <input class="mini" id="cheque_number" name="cheque_number" size="10" type="text"/>
                      <span class='label-inline'>Agência</span>
                      <input class="small" id="agency" name="agency" size="10" type="text"/>
                      <span class='label-inline'>Conta</span>
                      <input class="normal" id="account" name="account" size="20" type="text"/>
                    </div>
                  </div>
                </div>
                <label style='float:left; padding-right:20px'></label>
                  <span class="help-block">Número do cheque / agência / conta</span>
            </div>          
            <br/>
          </span>          
          <span class="card_data">
            <div class="clearfix">
              <label>Número</label>
                <div class="input">
                  <div class='inline-inputs'>
                    <div class="input-prepend">
                      <input class="normal" id="card_number" name="card_number" size="10" type="text"/>
                    </div>
                  </div>
                  <span class="help-block">Número cartão / transação</span>
                </div>
            </div>          
            <br/>
          </span>          
          </fieldset>
          <table id='payments_table' class="bordered-table zebra-striped">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Valor</th>
                <th class="has_cheque">Bom Para</th>
                <th class="has_cheque">Nr Ch/Cartão</th>
                <th class="has_cheque">Banco</th>
                <th class="has_cheque">Agência</th>
                <th class="has_cheque">Conta</th>
                <th class="has_cheque">Dt Cheque</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paymentDetail in paymentDetails">
                  <td>{{paymentDetail.desc}}</td>
                  <td>{{paymentDetail.value.toFixed(2)}}</td>
                  <td>
                    <input ui-date ng-show="paymentDetail.accept_installment" ng-model="paymentDetail.dateDetail" class="small"/>
                    <span ng-hide="paymentDetail.accept_installment">
                      {{paymentDetail.dateDetail.getDateBr()}}
                    </span>
                  </td>
                  <td class="has_cheque"><input  ng-show="paymentDetail.chequeInfo" ng-model="paymentDetail.chequeInfo.cheque_number" class="small"/></td>
                  <td class="has_cheque">
                    <select ng-show="paymentDetail.chequeInfo" ng-options="b.id as b.name for b in banks" class="notselect2" ng-model="paymentDetail.chequeInfo.bank">
                      <option style="display:none" value="{{paymentDetail.chequeInfo.bank}}">{{paymentDetail.chequeInfo.bank_name}}</option>
                    </select> 
                  </td>
                  <td class="has_cheque"><input  ng-show="paymentDetail.chequeInfo" ng-model="paymentDetail.chequeInfo.agency" class="small"/></td>
                  <td class="has_cheque"><input  ng-show="paymentDetail.chequeInfo" ng-model="paymentDetail.chequeInfo.account" class="small"/></td>
                  <td class="has_cheque"><input ui-date ng-show="paymentDetail.chequeInfo" date ng-model="paymentDetail.chequeInfo.cheque_date" class="small"/></td>
                  <td><a href="#" ng-click="paymentDetail.remove()"><img src='../images/delete.png'/></a></td>
                </tr>
            </tbody>
          </table>
      </form>
      <div class='well'>
        <input type="button"   class="btn danger b_payment_finalize" value="Finalizar Pagamento"/>
      </div>
    </div>  
  </div>
</div>
