<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>Login</title>
  </head>
  <body class="lift:content_id=main">
    <div id="main" class="lift:surround?with=bootstrap;at=content">
      <p>
      <div class="contentbottombox right width100 float-left">
          <div class="module">
            <div>
              <div>
                <div class="span12" data-ng-app='LoginModule'  data-ng-controller='LoginController' >
                      <form data-ng-hide='companys'  method="post" class="login_form">
                        <fieldset>
                          <legend><img src="/images/web.jpg" border="0" width="120" height="50"/></legend>
                          <div class="clearfix">
                            <label for="user">E-mail</label>
                            <div class="input">
                              <input  id="email" name="email" class="local_storage" autocomplete="off" data-ng-model='email'  size="30" type="text"/>
                            </div>
                          </div><!-- /clearfix -->
                          <div class="clearfix">
                            <label for="password">Senha</label>
                            <div class="input">
                              <input  id="password" name="password"  autocomplete="off" data-ng-model='password' size="30" type="password"/>
                            </div>
                          </div><!-- /clearfix -->
                          <div class="clearfix">
                            <div class="input">
                              <input type="button" class="btn primary" data-ng-click='login(email, password)' value="Entrar">&nbsp;
                              <button type="reset" class="btn">Cancelar</button>
                            </div>
                          </div><!-- /clearfix -->
                        </fieldset>
                      </form>
                        <ul>
                          <li data-ng-repeat='company in companys'>
                           <a href="#" class="_popover" data-ng-click='loginWithCompany(company.id, email, password)' rel="popover" data-content="Acessar empresa {{company.name}}" data-original-title="{{company.name}}">
                              <img width='64' ng-src="{{company.logo}}"/>
                           </a>
                          </li>                                   
                        </ul>
                    </div>
              </div>
            </div>
          </div>
      </div>
          <br/>
          <hr/>
      </p>
      <script src="/js/angular.js" type="text/javascript"></script>
      <script src="/js/loginController.js"></script>      
  </body>
</html>

