/*
 * The system uses sth-select jQuery component.
 * This file applies some styles and overrides others.
 */

/* Makes sth-overlay on top of the overlay created by Bootstrap Modal */
.sth-overlay {
	z-index: 1051;
}

.sth-select-popup {
	z-index: 1052;
}

.sth-select {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
	height: 44px;
	padding: 12px;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.sth-select-popup .sth-select-title {
	background-color: #337ab7;
	color: white;
}

@media only screen and (min-width: 768px) {
	.sth-select {
		height: 34px;
		padding: 6px 12px;
	}
}