/**
 * Style created by VilarikA's team
 * @author: Stanley Sathler <stanleysathlerpinto@gmail.com>
 **/

nav.vr-sidebar {
	--primary-normal-color: #324555;
	--primary-dark-color: #21323d;
	--content-color: #f2f2f2;

	background-color: var(--primary-normal-color);
	bottom: 0;
	color: var(--content-color);
	left: 0;
	padding: 25px 0;
	position: fixed;
	top: 0;
	width: 200px;
}

	nav.vr-sidebar,
	nav.vr-sidebar a {
		color: var(--content-color);
		text-decoration: none;
	}

nav.vr-sidebar .header {
	margin-bottom: 10px;
	text-align: center;
}

	nav.vr-sidebar .header .picture img { 
		border: 2px solid white;
		border-radius: 50%;
		display: inline-block;
		width: 60px; 
	}

nav.vr-sidebar .menu {
	list-style-type: none;
	padding-left: 0;
}

	nav.vr-sidebar .menu li a {
		border-bottom: 1px solid var(--primary-dark-color);
		display: inline-block;
		height: 44px;
		line-height: 44px;
		padding-left: 10px;
		width: 100%;
	}

	nav.vr-sidebar .menu li a:hover {
		background-color: var(--primary-dark-color);
	}


