/**
 * Style created by VilarikA's team
 * @author: Stanley Sathler <stanleysathlerpinto@gmail.com>
 **/

/*
 * Avoids right-side dropdown to be inserted on a new line
 */
#main-menu { float: left; }
.vr-toolbar .navbar-toggle { float: none; }
.vr-toolbar .navbar-header { display: inline-block; float: left; }
.vr-toolbar .navbar-right { float: right; }