/**
 * Style created by VilarikA's team
 * @author: Stanley Sathler <stanleysathlerpinto@gmail.com>
 **/

nav.vr-sidebar {
	--primary-normal-color: #2f4050;
	--primary-dark-color: #293846;
	--content-color-normal: #a7b1c2;
	--content-color-hover: #f2f2f2;
	--secondary-normal-color: #19aa8d;

	background-color: var(--primary-normal-color);
	bottom: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	color: var(--content-color);
	left: 0;
	padding: 25px 0;
	position: fixed;
	top: 0;
	width: 230px;
}

	nav.vr-sidebar.sidebar-closed {
		width: 65px;
	}

	nav.vr-sidebar,
	nav.vr-sidebar a {
		color: var(--content-color-normal);
		text-decoration: none;
	}

nav.vr-sidebar .header {
	margin-bottom: 10px;
	text-align: center;
}

	nav.vr-sidebar.sidebar-closed .header .picture img {
		margin-bottom: 0;
		width: 30px;
	}

	nav.vr-sidebar .header .picture img {
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 30px;
		width: 60px; 
	}

nav.vr-sidebar .menu {
	list-style-type: none;
	overflow-y: hidden;
	padding-left: 0;
}

nav.vr-sidebar li.item {
	height: 44px;
	overflow-y: hidden;

	transition: all .4s;
}

	nav.vr-sidebar li.item .fa.arrow {
		line-height: 44px;
		float: right;
	}

	nav.vr-sidebar li.item .fa.arrow::before {
		content: "\f104";
	}

	nav.vr-sidebar li.item.item-open .fa.arrow::before {
		content: "\f107";
	}

	nav.vr-sidebar li.item .fa {
		margin-right: 10px;
	}

	nav.vr-sidebar li.item a {
		cursor: pointer;
		display: inline-block;
		height: 44px;
		line-height: 44px;
		padding-left: 25px;
		padding-right: 10px;
		width: 100%;
	}

	nav.vr-sidebar li.item a:hover {
		background-color: var(--primary-dark-color);
		color: var(--content-color-hover);
	}

	nav.vr-sidebar li.item.item-open {
		background-color: var(--primary-dark-color);
		border-left: 5px solid var(--secondary-normal-color);

		height: auto;
	}

	nav.vr-sidebar li.item.item-open a {
		padding-left: 15px;
	}
